<div style="border: solid white;width: 100vw;height: 40vw;background-color:rgba(0,136,148,255);">
    <table class="Nen" style="width: 100vw;height: 500px;margin-top: 4vw;"
        background="../../../assets/background-night.png">
        <tr>
            <td valign="top">
                <p><b >
                        <img class="Title" src="../../../assets/flappy-bird.png" width="350px">
                    </b></p>
                <div>

                </div>
                <!-- <canvas class="Canvas" ></canvas>   -->
            </td>
        </tr>
    </table>
</div>
