<div style="border: solid white;width: 100vw;height: 40vw;background-color:rgba(0,136,148,255);">
    <table class="Nen" style="width: 100vw;height: 500px;margin-top: 4vw;"
        background="../../../assets/background-night.png">
        <tr>
            <td valign="top">
                <p><b>
                        <img class="Title" src="../../../assets/flappy-bird.png" width="350px">
                    </b></p>
                
                <!-- <canvas class="Canvas" ></canvas>   -->
            </td>
            <td valign="center">
                <div class="Character">
                    <div [@animImageSlider]="counter">
                        <ng-container *ngFor="let img of images; let i=index">
                            <img [src]="img" style="height:60px; width:60px" *ngIf="i===counter" />
                        </ng-container>
                    </div>
                    <button class="button" type="button" (click)="onPrevious()" [disabled]="counter===0">Previous</button>
                    <button class="button" type="button" (click)="onNext()" [disabled]="this.counter == this.images.length - 1">Next</button>
                    <button class="playbutton"> <img src="../../../assets/play button.png" style="height: 60px; width: 60px" > </button>
                </div>
            </td>
        </tr>
    </table>
    