<div class="background" style="overflow: hidden;">
    <div class="back">
        <img class="Title" src="../../../assets/flappy-bird.png" width="350px" style="margin-top: 10%;">
        <div class="Character" >
            <div [@animImageSlider]="counter">
                <ng-container *ngFor="let img of images; let i=index">
                    <img [src]="img" style="margin-left: 25%;margin-top: 5%;" *ngIf="i===counter" />
                </ng-container> <br>
                
            </div>
        </div>
    
    <div class="base"></div>
</div>