<mat-toolbar>
  <span>
    <div class="example-button-container">
      
      <button style="margin-left: 4%;"mat-stroked-button>Home</button>
      <button style="margin-left: 4%;"mat-stroked-button>Flying Bird</button>
      <button style="margin-left: 4%;"mat-stroked-button>Caro</button>
      <button style="margin-left: 4%;"mat-stroked-button>Quiz</button>
      <button style="margin-left: 4%;"mat-stroked-button>Choose</button>
    </div>
  </span>
  <span class="example-spacer"></span>

  <div class="example-button-row" >
    <button *ngIf="!this.user" (click)="logIn()" mat-raised-button color="primary">Sign In</button>
    <button *ngIf="this.user" (click)="logOut()" mat-raised-button color="primary">Sign Out</button>
  </div>
  <img *ngIf="this.user"  style="width: 50px;border-radius: 50%;" [src]="user.photoURL" >

</mat-toolbar>
