<!-- 
<div style="border: solid white;width: 90vw;height: 40vw;background-color:rgba(0,136,148,255);">
    
</div> -->

<!-- <div style="height: 512px;width: 99vw;border: solid white;background-color: rgba(0,136,148,255);">
    <table class="Nen" style="width: 99vw;height: 500px;margin-top: 3vw;"
        background="../../../assets/background-night.png">
        <tr>
            <td valign="top">
                <div>
                    
                </div>


            </td>
        </tr>
          -->
    <!-- </table> -->
    <div class="background">
        <div class="back">
            <canvas #myCanvas id="myCanvas" width="288px" height="512px"
                        style="border: solid black;margin-left: 45vw;"></canvas>
        </div>
    </div>
    


<!-- </div> -->
<!-- <div style=" border: solid rgba(0,164,0,255);background-color:rgba(0,164,0,255);height: 50px;width: 99vw;"></div> -->